.create-task-function
  .create-task
    = form_for [@task] do |f|
      .row
        .col.s10.m11
          = f.text_field :name, class: "form-control", placeholder: "Add your task!!"
        .col.s2.m1
          .btn-floating.waves-effect.waves-light.red
            %button{:type => "submit",:class=>"btn-floating waves-effect waves-light red"}
              %i.material-icons add


.task-list-function
  #unfinished-tasks
    - @tasks.each do |task|
      %ul.collection
        = form_for task do |f|
          %li#row_task_1.collection-item
            %input#task_1{:type => "checkbox"}/
            %label{:for => "task_1"} 
              = f.submit task.name,class:"aiueo",name:"test",disabled:false,"data-task-id": task.id
            %label.delete{:for => "task_1"} 
              = f.submit "delete", class:"test",name:"test","data-task-id": task.id
  .btn finished tasks!!!!!!!!!!!!
  #finished-tasks.display_none
    - @endtasks.each do |etask|
      %ul.collection
        = form_for etask do |f|
          %li#row_task_1.collection-item
            %input#task_1{:type => "checkbox"}/
            %label{:for => "task_1"} 
              = f.submit etask.name,class:"aiueo",name:"test",disabled:false,"data-task-id": etask.id
            %label.delete{:for => "task_1"} 
              = f.submit "delete", class:"test",name:"test","data-task-id": etask.id
  %a.waves-effect.waves-light.btn.modal-trigger{:href => "#modal1"} 投稿する
  #modal1.modal.modal-fixed-footer
    .form
      = form_for @post do |f|
        .modal-content
          %h4 投稿画面
          .endtaskList
            終了したタスク:
            - @endtasks.each do |etask|
              =etask.name
          #totalTime
          = f.text_area :body, class: "input-box__text", placeholder: "type a message"
        .modal-footer
          = f.submit "投稿する", class: "btn"


.timer-function.hidden
  .timer-controls
    #timer 00:00
    .controls
      %button#set.btn Set
      %button#sec.btn Sec
      %button#reset.btn reset
      %button#start.btn start
  .selector
    %select#min.pomodoro-minutes{:name => "minutes"}
      %option{:value => "1"} 1分
      %option{:value => "5"} 5分
      %option{:value => "10"} 10分
      %option{:value => "20"} 20分
      %option{:selected => "selected", :value => "25"} 25分
      %option{:value => "30"} 30分
      %option{:value => "35"} 35分
      %option{:value => "40"} 40分
      %option{:value => "45"} 45分
      %option{:value => "50"} 50分
      %option{:value => "55"} 55分

.mypage-function.hidden
  = render partial: "post", locals: { posts: @posts }

