%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "current-password"
  .actions
    = f.submit "Log in",class:"btn"
  = link_to user_twitter_omniauth_authorize_path, class: 'btn twitter-session' do
    = fa_icon 'twitter'
    = "LOG IN FOR TWITTER"
= render "devise/shared/links"