!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PompomPro
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.7/push.min.js')
  %body
    %div
      %nav
        .nav-wrapper.container
          .brand-logo.left Todo Application
          %ul.right
            %li
              %button{type: "button",class: "nav-button task-page"}
                Task
            %li
              %button{type: "button",class: "nav-button timer-page"}
                Timer
            %li
              %button{type: "button",class: "nav-button mypage"}
                Mypage
    = yield


.footer
  - if user_signed_in?
    = link_to "Log out", destroy_user_session_path, method: :delete
  - else
    = link_to "Log in", new_user_session_path, class: 'post'
    = link_to "Sign up", new_user_registration_path, class: 'post'