!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PompomPro
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.7/push.min.js')
  %body
    %div
      %nav
        .nav-wrapper.container
          %a.brand-logo.left{:href => "/"} Todo Application
          %ul.right
            %li
              %a{:href => root_path} Task
            %li
              %a{:href => timers_path} Timer
            %li
              %a{:href => "#"} Mypage
    = yield
