<!DOCTYPE html>
<html>
  <head>
    <title>PompomPro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <ul id="dropdown" class="dropdown-content">
        <li><a href="#">Task</a></li>
        <li><a href="#">Timer</a></li>
        <li><a href="#">Mypage</a></li>
      </ul>
      <nav>
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo left">Todo Application</a>
          <ul class="right">
            <li><a href="">Top</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
