!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PompomPro
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.12/push.min.js')
    = javascript_include_tag('https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
  %body
    %div
      %nav
        .nav-wrapper.container
          .brand-logo.left 
            = link_to "Todo Application", root_path, method: :get
          %ul.right
            %li
              %button{type: "button",class: "nav-button task-page"}
                Task
            %li
              %button{type: "button",class: "nav-button timer-page"}
                Timer
            %li
              %button{type: "button",class: "nav-button mypage"}
                Mypage
    = yield
.footer
  - if user_signed_in?
    .footer__signin-contents
      = link_to "Log out", destroy_user_session_path, method: :delete
      - unless current_user.sns_credentials.present?
        = link_to 'Twitter認証', user_twitter_omniauth_authorize_path, class: 'authentication'
      - else
        .authenticated Twitter認証済み
    .status status: ログイン中
  - else
    = link_to "Log in", new_user_session_path, class: 'post'
    = link_to "Sign up", new_user_registration_path, class: 'post'
    .status status: 未ログイン(サンプルユーザ)